:root {
    --principal: brown;
    --secundario: aquamarine;
}
*  { 
    margin: 0px;
    border: 0px;
    pad: 0px;
}
 header {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: brown;
    
 }
h1#nome{ 
    font-family: Dancing script, cursive;
    color: orange;
}

nav {
    background-color: rgb(240, 234, 234);
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}

li a{
    font-family: Dancing script, cursive;
    font-size: 30px;
    text-decoration: none;
    width: 100px;
    color: rgb(65, 6, 88)
}
img#hero {
    height: 300px;
    border-radius: 50%;
    margin: 40px;
}
nav ul li:hover {
    background-color: black;
    
}
nav ul li a:hover {
    color: rgb(44, 42, 30);
}

footer{
    background-color: ; 
    display: flex;
    justify-content: center;[
        position: fixed;
        height: 30px;
    ]

}


