*  { 
    margin: 0px;
    border: 0px;
    pad: 0px;
}
 header {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: green;

 }
h1#nome{ 
    font-family: Dancing script, cursive;
}
nav {
    background-color: white;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li a{
    font-family: Dancing script, cursive;
    font-size: 50px;
    text-decoration: none;
    width: 100px;
    color:orange    
}
img#hero {
    height: 500px;
    border-radius: 38%;
    margin: 30px;
}



